@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'ProFont';
	src: url('$lib/assets/fonts/ProFont/ProFontWindows.ttf');
	font-style: normal;
}

*,
*::before,
*::after {
	font-family: 'ProFont';
}

html {
	@apply flex w-screen flex-col items-center bg-black font-bold text-white;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
