@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'ProFont';
	src: url('$lib/assets/fonts/ProFont/ProFontWindows.ttf');
	font-style: normal;
}

*,
*::before,
*::after {
	font-family: 'ProFont';
}

html {
	@apply flex w-screen flex-col items-center bg-black font-bold text-white;
}
